<h1>Editing currency</h1>

<% form_for(@currency) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @currency %> |
<%= link_to 'Back', currencies_path %>
