/*
.locale {
            float:right;
            padding-top: 0.2em;
            border:0

} */

.locale {
    -moz-border-top-right-radius: 4px;
    -moz-border-top-left-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    -moz-box-shadow: 1px 1px 5px #cfcfcf inset;
    border: none;
    vertical-align: middle;
    background-color: transparent;
    float:right;
    padding-top: 0.2em;
    color: #484E46;
}

option {
    border-bottom: 1px solid #ebdac0;
    border-right: 1px solid #d6bb86;
    border-left: 1px solid #d6bb86;
    color: #484E46;
    background-color: #F1EFE4;
}
option:hover {
    cursor: pointer;
}
