                <div class="art-nav">
                	<div class="l"></div>
                	<div class="r"></div>
                	<ul class="art-menu">
                		<li>
                			<a href="/" class="active"><span class="l"></span><span class="r"></span><span class="t"><img src="/images/home-inv.png" alt="Home" /></span></a>
                		</li>
                		<li>
                			<a href="#"><span class="l"></span><span class="r"></span><span class="t">Report Editor</span></a>
                			<ul>
                				<li><a href="/report_categories">Categories</a></li>
                				<li><a href="/reports">Reports</a></li>
                				<li><a href="/report_lines">Report lines</a></li>
                            </ul>
                		</li>
                        <li>
                          <a href="#"><span class="l"></span><span class="r"></span><span class="t">Accounts</span></a>
                          <ul>
                              <li><a href="/account_plans">Account plan</a></li>
                              <li><a href="/">Reorganize accounts</a></li>
                              <li><a href="/">Correct Mapping</a>
                                  <ul>
                                      <li><a href="/">Menu Subitem 1.1</a></li>
                                      <li><a href="/">Menu Subitem 1.2</a></li>
                                      <li><a href="/">Menu Subitem 1.3</a></li>
                                  </ul>
                              </li>
                          </ul>
                        <li>
                			<a href="/" class="active"><span class="l"></span><span class="r"></span><span class="t">Basel II</span></a>
                		    <ul>
                				<li><a href="/validations">Validations</a></li>
                				<li><a href="/">Parameters</a></li>
                				<li><a href="/">Other menu</a>
                                    <ul>
                						<li><a href="/">Menu Subitem 1.1</a></li>
                						<li><a href="/">Menu Subitem 1.2</a></li>
                						<li><a href="/">Menu Subitem 1.3</a></li>
                					</ul>
                			    </li>
                            </ul>
                        </li>
                        <li>
                			<a href="/" class="active"><span class="l"></span><span class="r"></span><span class="t">Management</span></a>
                		</li>
                        <li>
                			<a href="/" class="active"><span class="l"></span><span class="r"></span><span class="t">Cube</span></a>
                		    <ul>
                				<li><a href="/">Settings</a></li>
                				<li><a href="/">Other menu</a>
                                    <ul>
                						<li><a href="/sources">Sources</a></li>
                						<li><a href="/timebands">Timebands</a></li>
                						<li><a href="/scenarios">Scenarios</a></li>
	                                    <li><a href="/par_mappings">Mappings</a></li>
                						<li><a href="/products">Products</a></li>
                						<li><a href="/position_types">Position types</a></li>
                                        <li><a href="/packages">Packages</a></li>
                                        <li><a href="/currencies">Currencies</a></li>
                                        <li><a href="/dim_dates">Dates</a></li>
                                        <li><a href="/client_security_positions">client securities</a></li>
                					</ul>
                			    </li>
                            </ul>
                        </li>
                        <li>
                			<a href="/" class="active"><span class="l"></span><span class="r"></span><span class="t">Olympic</span></a>
                		    <ul>
                				<li><a href="/fdbclis">Clients</a></li>
                				<li><a href="/fdbtabs">Nomenclatures</a>
                                    <ul>
                						<li><a href="/fdbtabs">Countries</a></li>
                						<li><a href="/fdbtabs">Currencies</a></li>
                						<li><a href="/fdbtabs">SNB Sectors</a></li>
	                                    <li><a href="/fdbtabs">Client type</a></li>
                						<li><a href="/fdbtabs">Products</a></li>
                						<li><a href="/fdbtabs">Security type</a></li>
                                        <li><a href="/fdbtabs">Security SNB Sector</a></li>
                					</ul>
                			    </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/" class="active"><span class="l"></span><span class="r"></span><span class="t">Market data</span></a>
                            <ul>
                              <li><a href="/interest_rates">Interest rates</a>
                                <ul>
                                  <li><a href="/">Statistics</a></li>
                                  <li><a href="/">Specific period</a></li>
                                  <li><a href="/">Timeband evolution</a></li>
                                  <li><a href="/">Timeband comparison</a></li>
                                </ul>
                              </li>
                              <li><a href="/fx_rates">Exchange rates</a>
                                <ul>
                                  <li><a href="/">Statistics</a></li>
                                  <li><a href="/">Specific period</a></li>
                                  <li><a href="/">fx rate evolution</a></li>
                                </ul>
                              </li>
                            </ul>
                        </li>
                		<li>
                			<a href="/tasklists"><span class="l"></span><span class="r"></span><span class="t">Task list</span></a>
                		</li>
                        <li>
                            <a href="/invoices"><span class="l"></span><span class="r"></span><span class="t">Invoices</span></a>
                        </li>
                        <li>
                            <a href="/accruals"><span class="l"></span><span class="r"></span><span class="t">Accruals</span></a>
                        </li>
                        <li>
                            <a href="/depreciations"><span class="l"></span><span class="r"></span><span class="t">Depreciations</span></a>
                            <ul>
                              <li><a href="/">Statistics</a></li>
                              <li><a href="/">Specific period</a></li>
                              <li><a href="/">fx rate evolution</a></li>
                           </ul>
                        </li>
                	</ul>
                </div>