                <div class="art-nav">
                	<div class="l"></div>
                	<div class="r"></div>
                	<ul class="art-menu">
                		<li>
                			<a href="/" class="active"><span class="l"></span><span class="r"></span><span class="t">Home</span></a>
                		</li>
                		<li>
                			<a href="#"><span class="l"></span><span class="r"></span><span class="t">Report Editor</span></a>
                			<ul>
                				<li><a href="/report_categories">Categories</a></li>
                				<li><a href="/reports">Reports</a></li>
                				<li><a href="/report_lines">Report lines</a>
                                    <ul>
                						<li><a href="/">Menu Subitem 1.1</a></li>
                						<li><a href="/">Menu Subitem 1.2</a></li>
                						<li><a href="/">Menu Subitem 1.3</a></li>
                					</ul>
                			    </li>
                            </ul>
                		</li>
                        <li>
                          <a href="#"><span class="l"></span><span class="r"></span><span class="t">Accounts</span></a>
                          <ul>
                              <li><a href="/account_plans">Account plan</a></li>
                              <li><a href="/">Reorganize accounts</a></li>
                              <li><a href="/">Correct Mapping</a>
                                  <ul>
                                      <li><a href="/">Menu Subitem 1.1</a></li>
                                      <li><a href="/">Menu Subitem 1.2</a></li>
                                      <li><a href="/">Menu Subitem 1.3</a></li>
                                  </ul>
                              </li>
                          </ul>
                        <li>
                			<a href="/" class="active"><span class="l"></span><span class="r"></span><span class="t">Basel II</span></a>
                		    <ul>
                				<li><a href="/validations">Validations</a></li>
                				<li><a href="/">Parameters</a></li>
                				<li><a href="/">Other menu</a>
                                    <ul>
                						<li><a href="/">Menu Subitem 1.1</a></li>
                						<li><a href="/">Menu Subitem 1.2</a></li>
                						<li><a href="/">Menu Subitem 1.3</a></li>
                					</ul>
                			    </li>
                            </ul>
                        </li>
                        <li>
                			<a href="/" class="active"><span class="l"></span><span class="r"></span><span class="t">Management</span></a>
                		</li>
                        <li>
                			<a href="/" class="active"><span class="l"></span><span class="r"></span><span class="t">Cube</span></a>
                		    <ul>
                				<li><a href="/">Settings</a></li>
                				<li><a href="/">Other menu</a>
                                    <ul>
                						<li><a href="/sources">Sources</a></li>
                						<li><a href="/timebands">Timebands</a></li>
                						<li><a href="/scenarios">Scenarios</a></li>
	                                    <li><a href="/par_mappings">Mappings</a></li>
                						<li><a href="/products">Products</a></li>
                						<li><a href="/position_types">Position types</a></li>
                                        <li><a href="/packages">Packages</a></li>
                                        <li><a href="/currencies">Currencies</a></li>
                                        <li><a href="/dim_dates">Dates</a></li>
                                        <li><a href="/client_security_positions">client securities</a></li>
                					</ul>
                			    </li>
                            </ul>
                        </li>
                		<li>
                			<a href="/tasklists"><span class="l"></span><span class="r"></span><span class="t">Task list</span></a>
                		</li>
                	</ul>
                </div>