<h2 class="art-postheader">
    Welcome
</h2>
<div class="art-postcontent">
    <!-- article-content -->


    <p>Lorem ipsum dolor sit amet,
    <a href="#" title="link">link</a>, <a class="visited" href="#" title="visited link">visited link</a>,
     <a class="hover" href="#" title="hovered link">hovered link</a> consectetuer
    adipiscing elit. Quisque sed felis. Aliquam sit amet felis. Mauris semper,
    velit semper laoreet dictum, quam diam dictum urna, nec placerat elit nisl
    in quam. Etiam augue pede, molestie eget, rhoncus at, convallis ut, eros.</p>
    <p>
        <span class="art-button-wrapper">
            <span class="l"> </span>
            <span class="r"> </span>
            <a class="art-button" href="javascript:void(0)">Read more...</a>
        </span>
    </p>
    <div class="cleared"></div>
    <div class="art-content-layout overview-table">
        <div class="art-content-layout-row">
            <div class="art-layout-cell">
          <div class="overview-table-inner">
              <h4>Support</h4>
                              <img src="/images/images/01.png" width="55px" height="55px" alt="an image" class="image" />
                              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                              Quisque sed felis. Aliquam sit amet felis. Mauris semper,
                              velit semper laoreet dictum, quam diam dictum urna. </p>
           </div>
            </div><!-- end cell -->
            <div class="art-layout-cell">
        <div class="overview-table-inner">
              <h4>Development</h4>
                              <img src="/images/images/02.png" width="55px" height="55px" alt="an image" class="image" />
                              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                              Quisque sed felis. Aliquam sit amet felis. Mauris semper,
                              velit semper laoreet dictum, quam diam dictum urna. </p>
                    </div>
            </div><!-- end cell -->
            <div class="art-layout-cell">
        <div class="overview-table-inner">
              <h4>Strategy</h4>

                              <img src="/images/images/03.png" width="55px" height="55px" alt="an image" class="image" />
                              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                              Quisque sed felis. Aliquam sit amet felis. Mauris semper,
                              velit semper laoreet dictum, quam diam dictum urna. </p>
                  </div>
            </div><!-- end cell -->
        </div><!-- end row -->
    </div><!-- end table -->

    <!-- /article-content -->
</div>
