<h1>Listing position_types</h1>

<table>
  <tr>
  </tr>

<% for position_type in @position_types %>
  <tr>
    <td><%= link_to 'Show', position_type %></td>
    <td><%= link_to 'Edit', edit_position_type_path(position_type) %></td>
    <td><%= link_to 'Destroy', position_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New position_type', new_position_type_path %>
