<h1>Editing accrual</h1>

<fieldset>

  <!--legend>Editing accrual</legend-->

  <%= render :partial => 'form' , :locals => { :accrual => @accrual } %>

<%= link_to 'Show', @accrual %> |
<%= link_to 'Back', accruals_path %>

</fieldset>
