<h1>New accrual</h1>

<fieldset>

  <!--legend>New accrual</legend-->

  <%= render :partial => 'form' , :locals => { :accrual => @accrual } %>

 <p><%= link_to "Back to List", accruals_path %></p>

</fieldset>