<h1>Editing fdbtab</h1>

<% form_for(@fdbtab) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @fdbtab %> |
<%= link_to 'Back', fdbtabs_path %>