<h1>Editing dim_date</h1>

<% form_for(@dim_date) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @dim_date %> |
<%= link_to 'Back', dim_dates_path %>
