<p>
  <b>Code:</b>
  <%=h @scenario.Category_Code %>
</p>

<p>
  <b>Name:</b>
  <%=h @scenario.Category_Name %>
</p>
<%= link_to 'Edit', edit_scenario_path(@scenario) %> |
<%= link_to 'Back', scenarios_path %>
