<% content_for :article2 do %>

<h2 class="art-postheader">
  New report
</h2>

<div class="art-postcontent">
    <!-- article-content -->
  <%= render :partial => 'form' %>

  <%= link_to 'Back', reports_path %>


        <blockquote>
            <p>
                &#8220;This stylesheet is going to help so freaking much.&#8221;
                <br />
                -Blockquote
            </p>
        </blockquote>
      <br />

    <!-- /article-content -->
</div>


<% end %>